@model EMarket.Models.Order

@{
    ViewData["Title"] = "Xóa đơn hàng " + Model.OrderId;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    List<EMarket.Models.OrderDetail> orderDetails = ViewBag.ChiTiet as List<EMarket.Models.OrderDetail>;

    ViewBag.PageController = "AdminOrders";
    ViewBag.PageAction = "Index";
    ViewBag.PageControllerName = "Quản lý đơn hàng";
    ViewBag.PageActionName = "Xóa";
}

<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Trang chủ</a>
            <a class="breadcrumb-item" asp-area="Admin" asp-controller="@ViewBag.PageController" asp-action="Index">@ViewBag.PageControllerName</a>
            <a asp-area="Admin" asp-controller="@ViewBag.PageController" asp-action="@ViewBag.PageAction"><span class="breadcrumb-item active"> > @ViewBag.PageActionName</span></a>
        </nav>
    </div>
</div>

<form asp-action="Delete" method="POST">
    <div class="container">
        <div class="card">
            <div class="card-body">
                <div id="invoice" class="p-h-30">
                    <div class="row m-t-20 lh-2">
                        <div class="col-sm-6">
                            <h3 class="p-l-10 m-t-10">Invoice To:</h3>
                            <address class="p-l-10 m-t-10">
                                <span class="font-weight-semibold text-dark">@Model.Customer.FullName</span><br>
                                <span>@Model.Address</span><br>
                                <span>@ViewBag.fullAddress</span>
                            </address>
                        </div>
                        <div class="col-sm-6">
                            <div class="m-t-80">
                                <div class="text-dark text-uppercase d-inline-block">
                                    <span class="font-weight-semibold text-dark">THÔNG TIN MUA HÀNG :</span>
                                </div>
                                <div class="float-right">#@Model.OrderId</div>
                            </div>
                            <div class="text-dark text-uppercase d-inline-block">
                                <span class="font-weight-semibold text-dark">Ngày mua hàng:</span>
                            </div>
                            <div class="float-right">@Model.OrderDate</div>
                            <br />
                            <div class="text-dark text-uppercase d-inline-block">
                                <span class="font-weight-semibold text-dark">Ngày ship hàng :</span>
                            </div>
                            <div class="float-right">@Model.ShipDate</div>
                            <br />
                            <div class="text-dark text-uppercase d-inline-block">
                                <span class="font-weight-semibold text-dark">Trạng thái đơn hàng :</span>
                            </div>
                            <div class="float-right">@Model.TransactStatus.Status</div>
                        </div>
                    </div>
                    <div class="m-t-50">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>No.</th>
                                        <th>Items</th>
                                        <th>Quantity</th>
                                        <th>Price</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (orderDetails != null && orderDetails.Count > 0)
                                    {
                                        int i = 1;
                                        foreach (var item in orderDetails)
                                        {
                                            string url = $"/{item.Product.Alias}-{item.Product.ProductId}.html";
                                            <tr>
                                                <th>@i</th>
                                                <td><a target="_blank" href="@url">@item.Product.ProductName</a></td>
                                                <td>@item.Amount</td>
                                                <td>@item.Price.Value.ToString("#,##0") VNĐ</td>
                                                <td>@item.TotalMoney.Value.ToString("#,##0") VNĐ</td>
                                            </tr>
                                            i++;
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                        <div class="row m-t-30 lh-1-8">
                            <div class="col-sm-12">
                                <div class="float-right text-right">
                                    <hr>
                                    <h3><span class="font-weight-semibold text-dark">Tổng tiền :</span> @Model.TotalMoney.ToString("#,##0") VNĐ</h3>
                                </div>
                            </div>
                        </div>
                        <input type="hidden" asp-for="OrderId" />
                        <div class="mb-4">
                            <input type="submit" value="Xác nhận xóa đơn hàng" class="btn btn-danger" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

