@using PagedList.Core.Mvc
@model PagedList.Core.IPagedList<EMarket.Models.TinDang>

@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";

    int CurrentPage = ViewBag.CurrentPage;
    ViewData["Title"] = "Danh sách tin đăng trang " + CurrentPage;

}

<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Trang chủ</a>
            <a class="breadcrumb-item" asp-action="Index">Quản lý tin đăng</a>
            <span class="breadcrumb-item active">@ViewData["Title"]</span>
        </nav>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <div class="row m-b-30">
            <div class="col-sm-12 col-md-4">
                <a class="btn btn-success" asp-action="Create">
                    <i class="anticon anticon-plus-circle m-r-5"></i>
                    <span>Thêm</span>
                </a>
            </div>
        </div>
        <div class="table-responsive" style="overflow: hidden;">
            <table class="table table-hover e-commerce-table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Tiêu đề</th>
                        <th>Ngày viết</th>
                        <th>Public</th>
                        <th>IsHot</th>
                        <th>IsNewFeet</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(_ => item.PostId)
                            </td>
                            <td>
                                @Html.DisplayFor(_ => item.Title)
                            </td>
                            <td>
                                @Html.DisplayFor(_ => item.CreatedDate)
                            </td>
                            <td>
                                @if (item.Published == true)
                                {
                                    <div class="d-flex align-items-center">
                                        <div class="badge badge-success badge-dot m-r-10"></div>
                                        <div>Publish</div>
                                    </div>
                                }
                                else
                                {
                                    <div class="d-flex align-items-center">
                                        <div class="badge badge-danger badge-dot m-r-10"></div>
                                        <div>Non-Publish</div>
                                    </div>
                                }
                            </td>
                            <td>
                                @if (item.IsHot == true)
                                {
                                    <div class="d-flex align-items-center">
                                        <div class="badge badge-success badge-dot m-r-10"></div>
                                        <div>IsHot</div>
                                    </div>
                                }
                                else
                                {
                                    <div class="d-flex align-items-center">
                                        <div class="badge badge-danger badge-dot m-r-10"></div>

                                    </div>
                                }
                            </td>
                            <td>
                                @if (item.IsNewfeed == true)
                                {
                                    <div class="d-flex align-items-center">
                                        <div class="badge badge-success badge-dot m-r-10"></div>
                                        <div>IsNewwFeed</div>
                                    </div>
                                }
                                else
                                {
                                    <div class="d-flex align-items-center">
                                        <div class="badge badge-danger badge-dot m-r-10"></div>

                                    </div>
                                }
                            </td>
                            <td class="text-right">
                                <a class="btn btn-primary m-r-5" asp-action="Details" asp-route-id="@item.PostId">Chi tiết</a>
                                <a class="btn btn-warning m-r-5" asp-action="Edit" asp-route-id="@item.PostId">Sửa</a>
                                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.PostId">Xóa</a>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
            <div class="d-flex flex-row justify-content-center">
                <ul class="pagination">
                    <pager class="pager-container"
                           list="@Model"
                           asp-area="Admin"
                           asp-controller="AdminTinDangs"
                           asp-action="Index"></pager>
                </ul>
            </div>
        </div>
    </div>
</div>
